.articles {
    @include isSubGridContainer('2 / 3', null, 'repeat(3, 1fr)', '2');
    gap: 3vw;
    grid-auto-flow: dense;
    width: 100%;
    padding: 0 0 3vw 0;
    
    .mini-article {
        &:first-child {
            grid-row: span 2;
    
            @include mq-phone {
                grid-row: span 1;
            }
        }
    
        &:nth-child(5) {
            grid-row: span 2;
    
            @include mq-phone {
                grid-row: span 1;
            }
        }
    }

    @include mq-phone {
        grid-template-columns: 1fr;
    }
    
    @include mq-tablet {
        grid-template-columns: 1fr 1fr;
    }
}

.mini-article {
    @include isGridItem(span 1);
    background: getColor(prim2);
    padding: 1.2vw;
    text-align: justify;
    text-justify: newspaper;


    figure {

        img {
            min-height: 20vmin;
            height: 20vh;
            max-height: 20vmax;
            object-fit: cover;
        }

        figcaption {
            color: getColor(prim1);
        }
    }

    h2 {
        font-weight: 400;
    }

    p {
        color: getColor(tri2);
        // margin: 1rem 0;
        margin-bottom: 1rem;
        padding: 0;
    }
}


.row {
    &--bg-tech {
        @extend %row;
        background-color: tint(getColor(tri1), 10%);
        background-image: url(../img/circuit2.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% / 50%;
    }

    &__headline {
        @include isGridItem('2 / 3', '1 / 2');
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
    }
}


