
.hero {
    width: 100%;
    max-width: 1200px;
    height: 70vh;
    background: url(../img/hero.png), 
    no-repeat linear-gradient(160deg, rgba(119, 33, 111, 0.7) 0%, rgba(233, 84, 32, 0.7) 100%), 
    no-repeat linear-gradient(150deg, rgba(119, 33, 111, 1) 15%, rgba(233, 84, 32, 1) 70%, rgba(233, 84, 32, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    justify-content: center;

        &__title {
            color: white;
            margin: 0;
            margin-left: 11%;
            max-width: 40%;
        }
        &__subtitle {
            color: rgba(255,255,255,.7);
            // margin: 8px 0 16px 0;
            margin: px2rem(8px) 0 px2rem(16px) 0;
            margin-left: 11%;
            max-width: 40%;
            font-size: 90%;
        }
        &__button {
            @extend %button;
            margin-left: 11%;
            background: rgba(255, 68, 0, 0.85);
        }
}
