$nav-height: 100px !default;

.top-nav {
    background: $tc-black;
    height: 20px;

    span {
        max-width: 1200px;
        font-size: 70%;
        line-height: 100%;
        margin: auto;
        background: white;
    }
}

.nav-wrapper {
    background: $tc-cool-grey;
    width: 100%;
    line-height: $nav-height;

    // position: fixed;
    @include mq-phone {
        height: $nav-height / 1.5;
    }

    .nav {
        position: relative;
        display: flex;
        max-width: 1200px;
        margin: 0 auto;

        @include mq-phone {
            justify-content: space-between;
        }

        &__logo {
            margin: 0;
            padding: 0;
            height: $nav-height + 4px;

            img {
                height: $nav-height + 4px;
                object-fit: contain;
                margin: 0;
            }

            @include mq-phone {
                height: $nav-height / 1.5;

                img {
                    height: $nav-height / 1.5;
                }
            }
        }

        &__bar {
            display: flex;
            color: white;

            @include mq-phone {
                position: absolute;
                flex-direction: column;
                background: $tc-black;
                width: 100%;
                top: $nav-height / 1.5;
                left: -100%;
                align-items: center;
                padding: 16px 0;
                transition: 350ms ease-out;

                li {
                    // height: $nav-height / 2;
                    height: auto;
                    line-height: $nav-height / 2;
                }
            }

            a {
                display: inline-block;
                line-height: $nav-height;
                text-decoration: none;
                font-weight: 300;
                padding: 0 16px;
                color: white;

                @include mq-desktop {
                    transition: 500ms;
                    border-bottom: 4px solid $tc-cool-grey;

                    &:hover {
                        // background: $tc-ubuntu-orange;
                        transition: 100ms;
                        border-bottom: 4px solid $tc-ubuntu-orange;
                    }
                }

                @include mq-tablet {
                    transition: 500ms;
                    border-bottom: 4px solid $tc-cool-grey;

                    &:hover {
                        // background: $tc-ubuntu-orange;
                        transition: 100ms;
                        border-bottom: 4px solid $tc-ubuntu-orange;
                    }
                }

                @include mq-phone {
                    // line-height: $nav-height / 1.7;
                    line-height: 100%;
                }
            }
        }
    }
}

.toggle-menu {
    .nav__bar {
        transform: translateX(100%);
    }

    .mobile-menu {
        color: $tc-ubuntu-orange;
    }
}

.mobile-menu {
    padding: 0 24px;
    display: none;
    line-height: $nav-height / 1.5;
    cursor: pointer;
    color: white;
    background: rgba(255, 255, 255, .1);

    @include mq-phone {
        display: inline-block;
    }
}